{% extends 'base.html.twig'%}
{% block title %}Pizza Sopranos Home{% endblock %}
{% block body %}

   <h2 class="text-center">categories ({{ cat|length }})</h2>

    <div class="container">
    <div class="card-deck">
        <div class="row">
        {% for category in cat %}

            <div class="col-sm-12 col-md-9 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{{ category.image }}" alt="Card image">
                    <div class="card-body">
                        <p>{{ category.name }}</p>
                        <p class="card-text">Bekijk de lekkerste pizza's bij deze categorie.</p>
                        <a href="pizza/{{ category.id }}" class="btn btn-danger">Naar {{ category.name }} </a>
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}